<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Components</title>
</head>

<body>
    <div class="wrapper">
        <header class="logo-nav">
            <div class="logo"><a href="../dashboard/index.html" class="logo-link">MYLIB</a></div>
            <div class="nav">
                <ul class="nav-menu">
                    <li class="nav-list"><a href="../elements/index.html" class="nav-link">elements</a></li>
                    <li class="nav-list"><a href="#" class="nav-link nav-link-iris">components</a></li>
                    <li class="nav-list"><a href="" class="nav-link">layouts</a></li>
                    <li class="nav-list"><a href="" class="nav-link">drafts</a></li>
                    <li class="nav-list"><a href="" class="nav-link">documentation</a></li>
                </ul>
            </div>
        </header>
        <main>
            <aside class="aside-bar">
                <ul class="aside-menu">
                    <li class="aside-list"><a href="chevron_menu/index.html" class="aside-link">chevron menu</a></li>
                    <li class="aside-list"><a href="dropdown menu/index.html" class="aside-link">dropdown menu</a></li>
                    <li class="aside-list"><a href="modal box/index.html" class="aside-link">modal box</a></li>
                    <li class="aside-list"><a href="allerts/index.html" class="aside-link">allerts</a></li>
                </ul>
            </aside>
            <div class="content">
                <div class="titel-box">
                    <p class="titel">Chevron menu</p>
                </div>
                <div class="info-box">
                    <div class="img-box"><img src="img/info.png" alt="info"></div>
                    <div class="span-box">
                        <span class="box-text">Possible to use on gradient background</span>
                        <span class="box-text">Easy to use opacity for items background</span>
                        <span class="box-text">Cross-browser</span>
                    </div>
                </div>
                <div class="menu-gradient">
                    <ul class="menu-list">
                        <li class="menu-list-item"><a href="#" class="menu-list-link">ABOUT</a></li>
                        <li class="menu-list-item"><a href="#" class="menu-list-link">CAREERS</a></li>
                        <li class="menu-list-item"><a href="#" class="menu-list-link">FAQ</a></li>
                        <li class="menu-list-item"><a href="#" class="menu-list-link">CONTACT</a></li>
                    </ul>
                </div>
                <div class="info-box-cod">
                    <span class="titel-info">html</span>
                    <div class="content-box-cod">
                        <span class="box-text-grey">&#60;div class="menu-gradient"&#62;&#60;/div&#62;</span>
                        <span class="box-text-grey">&#8195; &#60;ul class="menu-list"&#62;&#60;/ul&#62;</span>
                        <span class="box-text-grey">&#8195; &#8195; &#60;li class="menu-list-item"&#62;&#60;a href="#" class="menu-list-link"&#62;ABOUT&#60;/a&#62;&#60;/li&#62;</span>
                        <span class="box-text-grey">&#8195; &#8195; &#60;li class="menu-list-item"&#62;&#60;a href="#" class="menu-list-link"&#62;CAREERS&#60;/a&#62;&#60;/li&#62;</span>
                        <span class="box-text-grey">&#8195; &#8195; &#60;li class="menu-list-item"&#62;&#60;a href="#" class="menu-list-link"&#62;FAQ&#60;/a&#62;&#60;/li&#62;</span>
                        <span class="box-text-grey">&#8195; &#8195; &#60;li class="menu-list-item"&#62;&#60;a href="#" class="menu-list-link"&#62;CONTACT&#60;/a&#62;&#60;/li&#62;</span>
                        <span class="box-text-grey">&#8195; &#60;/ul&#62;</span>
                        <span class="box-text-grey">&#60;/div&#62;</span>
                    </div>
                </div>
                <div class="info-box-cod info-box-cod1">
                    <span class="titel-info">css</span>
                    <div class="content-box-cod">
                        <span class="box-text-grey">.menu-gradient {</span>
                        <span class="box-text-grey">&#8195; background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);</span>
                        <span class="box-text-grey">&#8195; text-align: right;</span>
                        <span class="box-text-grey">&#8195; padding: 2px 35px 2px 0;</span>
                        <span class="box-text-grey">&#8195; margin: 28px 48px 0;</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">.menu-list-item {</span>
                        <span class="box-text-grey">&#8195; display: inline-block;</span>
                        <span class="box-text-grey">&#8195; vertical-align: top;</span>
                        <span class="box-text-grey">&#8195; margin-right: 50px;</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">.menu-list-link{</span>
                        <span class="box-text-grey">&#8195; font: 32px/37px Helvetica, Arial, sans-serif;</span>
                        <span class="box-text-grey">&#8195; text-transform: uppercase;</span>
                        <span class="box-text-grey">&#8195; color: #000000;</span>
                        <span class="box-text-grey">&#8195; text-decoration: none;</span>
                        <span class="box-text-grey">&#8195; padding: 30px 25px 29px;</span>
                        <span class="box-text-grey">&#8195; background: rgba(255, 255, 255, 1);</span>
                        <span class="box-text-grey">&#8195; display: inline-block;</span>
                        <span class="box-text-grey">&#8195; position: relative;</span>
                        <span class="box-text-grey">&#8195; transition: 1s linear;</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">.menu-list-link::before {</span>
                        <span class="box-text-grey">&#8195; content: "";</span>
                        <span class="box-text-grey">&#8195; display: inline-block;</span>
                        <span class="box-text-grey">&#8195; width: 0;</span>
                        <span class="box-text-grey">&#8195; height: 0;</span>
                        <span class="box-text-grey">&#8195; border-style: solid;</span>
                        <span class="box-text-grey">&#8195; border-width: 48px 0 48px 25px;</span>
                        <span class="box-text-grey">&#8195; border-color: rgba(255, 255, 255, 1) transparent rgba(255, 255, 255, 1) transparent;</span>
                        <span class="box-text-grey">&#8195; position: absolute;</span>
                        <span class="box-text-grey">&#8195; top: 0;</span>
                        <span class="box-text-grey">&#8195; left: -25px;</span>
                        <span class="box-text-grey">&#8195; transition: 1s linear;</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">.menu-list-link::after {</span>
                        <span class="box-text-grey">&#8195; content: ""</span>
                        <span class="box-text-grey">&#8195; display: inline-block;</span>
                        <span class="box-text-grey">&#8195; width: 0;</span>
                        <span class="box-text-grey">&#8195; height: 0;</span>
                        <span class="box-text-grey">&#8195; border-style: solid;</span>
                        <span class="box-text-grey">&#8195; border-width: 48px 0 48px 25px;</span>
                        <span class="box-text-grey">&#8195; border-color: transparent transparent transparent rgba(255, 255, 255, 1);</span>
                        <span class="box-text-grey">&#8195; top: 0;</span>
                        <span class="box-text-grey">&#8195; right: -25px;</span>
                        <span class="box-text-grey">&#8195; position: absolute;</span>
                        <span class="box-text-grey">&#8195; transition: 1s linear;</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">&#8195; .menu-list-link:hover {</span>
                        <span class="box-text-grey">&#8195; background: rgba(255, 255, 255, 0.7);</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">&#8195; .menu-list-link:hover::after {</span>
                        <span class="box-text-grey">&#8195; border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);</span>
                        <span class="box-text-grey">}</span>
                        <span class="box-text-grey">&#8195; .menu-list-link:hover::before {</span>
                        <span class="box-text-grey">&#8195; border-color: rgba(255, 255, 255, 0.7) transparent rgba(255, 255, 255, 0.7) transparent;</span>
                        <span class="box-text-grey">}</span>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>

</html>